{{>header}}
    <h1>Welcome To about page.</h1>
    <h1>{{m_name}} Price Is {{m_price}}Rs.</h1>
    <h1>{{b_name}} Price Is {{b_price}}Rs.</h1>
    <h1>{{p_name}} Price Is {{price}}Rs.</h1>
    <h1>{{p_name}} Price Is {{price}}Rs.</h1>
    <h1>{{p_name}} Price Is {{price}}Rs.</h1>
    <h1>{{p_name}} Price Is {{price}}Rs.</h1>
    <h1>{{p_name}} Price Is {{price}}Rs.</h1>
    <h1>{{p_name}} Price Is {{price}}Rs.</h1>
    <h1>{{p_name}} Price Is {{price}}Rs.</h1>
    <h1>{{p_name}} Price Is {{price}}Rs.</h1>
    <h1>{{p_name}} Price Is {{price}}Rs.</h1>
{{>footer}}